@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
 * { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', 
    sans-serif; 
} 
body { 
    display: block; 
     
    min-height: 100vh; 
    overflow: hidden; 
    background-color: #adc3f0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #004f32;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
.texto{
  text-align: left;
  margin-top: 10%;
  margin-right: 10%;
  font-size: 20px;
}
.media{
  padding: 5%;
  display: flex;
  float: left;
}
video{
  margin-top: 5%;
  padding: 5%;
  display: flex;
  float: left;
  height: 100%;
  width: 55%;
}